<h3><%= invention.title %></h3>
<b><%= invention.goal %></b><br/>
<i><%= invention.description %></i><br/>
<% if @user == current_user %>
    <%= link_to "Update Invention", edit_invention_path(invention)%>
<% end %>