<h3><%= invention.title %></h3>
<b><%= invention.goal %></b><br/>
<% if invention.description %>
    <i><%= invention.description %></i><br/>
<% else %>
    <% button_to "Update Invention", action: 'edit'%>
<% end %>