<h1>Inventions</h1>
<%= render partial: 'invention', locals: {invention: @invention} %>
<%= render partial: 'display_probs', locals: {problems: @problems} %>
<%= render partial: 'problem_form', locals: {problem: @problem} %>
