<h1>Inventions</h1>
<%= render partial: 'invention', locals: {invention: @invention} %>
<% @problems.each do |prob|%>
    <%byebug%>
    <%= prob.this_problems_solution %>
<% end %>
<%= render partial: 'problem_form', locals: {problem: @problem} %>
