<h2>Invention statistics</h2>
<p><i>All stats listed by most inventions.</i></p>
<h4>Most inventions</h4>
<% @user_invention_count_hash.each do |k,v| %>
    <%= k.name %> has <%= v %>! <br/>
<% end %>
<h4>Category Popularity</h4>
<% @category_invention_count_hash.each do |k,v| %>
    <%= k.category %> contains <%= v %>! <br/>
<% end %>