<h2>Invention statistics</h2>
<p><i>All stats listed by most inventions.</i></p>
<h4>Most inventions</h4>
<div>
<% @user_invention_count_hash.each do |k,v| %>
    <%=link_to k.name, user_inventions_path(k) %> has <%= v %>! <br/>
<% end %>
</div><br/>
<h4>Category Popularity</h4>
<div>
<% @category_invention_count_hash.each do |k,v| %>
    <%= link_to k.category, category_path(k) %> contains <%= v %>! <br/>
<% end %>
</div>