<h2>Invention statistics</h2>
<p><i>All stats listed by most inventions.</i></p>
<h4>Most inventions</h4>
<div>
<ol>
<% @inventors.each do |k,v| %>
    <li><%= link_to User.find_by(id: k).name, user_inventions_path(User.find_by(id: k)) %> has <%= v %>!</li>
<% end %>
</div>
</ol>
<br/>
<h4>Category Popularity</h4>
<div>
<ol>
<% @categories.each do |k,v| %>
    <li><%= link_to Category.find_by(id: k).category, category_path(Category.find_by_id(k)) %> contains <%= v %>!</li>
<% end %>
</ol>
</div>