<h1>Categories of Inventions</h1>
<ul>
<% @categories.each do |category| %>
    <i><li><%= link_to category.category, category_path(category) %></li><br/>
    thiscategory has <%= @category.inventions.count %></i>

<% end %>
</ul>