<h1>Categories of Inventions</h1>
<ul>
<% @categories.each do |category| %>
    <i><li><%= link_to category.category, category_path(category) %><br/>
    this category contains <%= category.invention_count %> inventions. </i></li>
<% end %>
</ul>